<!DOCTYPE html>

<html>
    <head>
        <title>My todolist</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>

    <body>
   <div class="content">
    <form class="logout" action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>

        <h2><%= username %> ToDo List</h2>

        <form action="/todo/add/" method="post" class="c_form">
            <p>
                <label for="newtodo">Things To Do:</label>
                <input type="text" name="newtodo" id="newtodo" autofocus /><br>
                <label for="newdate">Due Date: </label>
                <input type="date" name="newdate" id="newdate" />
                <input type="submit"  value="Add"  id="add_btn" />
            </p>
        </form>
        <form action="/todo/search/" method="post" class="c_form">
            <p>
                <label for="newtodo">Search: </label>
                <input type="text" name="search_box" id="search_box" placeholder="Type Here..." value="<%= search_value %>"/>
                <input type="submit"  value="Search"  id="search_btn" />
            </p>
        </form>
        <hr>
        <ul>
        	<% todolist.forEach(function(todo, index) { %>
            <li>
                 <form action="/todo/checkbox/" method="post">
                    <input type="hidden" name="todo_id" value="<%= todo.todo_id %>">
                <% if(todo.task_compl) {%>
                       
                            <input type="checkbox" class="cbx" name="cbx" checked  onChange="this.form.submit()">                      
                <% } 
                else { %>
                        
                            <input type="checkbox" class="cbx" name="cbx" onChange="this.form.submit()">                        
                       
                <% } %>
                         <%= todo.todoText %> 
                        <a class="dele" href="/todo/delete/<%= todo.todo_id %>"><i class="fa fa-trash-o" style="color:black"></i></a> 
                        <div class="date" ><%= todo.todoDate.toDateString() %></div>
                </form>
            </li>
        	<% }); %>
        </ul>
   </div>

    </body>
</html>